concurrent = {{ gitlab_runner_config_toml_concurrent }}

[[runners]]
  name = "docker-socket"
  url = "https://gitlab.com/"
  token = "{{ gitlab_runner_config_toml_token }}"
  executor = "{{ gitlab_runner_config_toml_executor }}"
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.docker]
    tls_verify = false
    image = "{{ gitlab_runner_config_toml_image }}"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    # bind-mount the /builds directory to the host + pass through host Docker socket
    volumes = {{ gitlab_runner_config_toml_volumes }}
    shm_size = 0