version: "{{ gitlab_runner_docker_compose_version }}"

volumes:
  "{{ gitlab_runner_docker_compose_volume_name }}":
    name: "{{ gitlab_runner_docker_compose_volume_name }}"
    driver: local

networks:
  "{{ gitlab_runner_docker_compose_network_name }}":
    driver: bridge
    name: "{{ gitlab_runner_docker_compose_network_name }}"
    external: false

services:
  "{{ gitlab_runner_docker_compose_container_name }}":
    container_name: "{{ gitlab_runner_docker_compose_container_name }}"
    image: "{{ gitlab_runner_docker_compose_image }}"
    restart: "{{ gitlab_runner_docker_compose_restart_policy }}"
    environment:
      - "{{ gitlab_runner_docker_compose_TZ_environment }}"
    volumes:
      - "{{ gitlab_runner_docker_compose_socker_volume }}"
      - "{{ gitlab_runner_docker_compose_config_volume }}"
    networks:
      - "{{ gitlab_runner_docker_compose_network_name }}"